.couse-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4px;
}

.course {
    height: 2em;
    margin: 10px;
    text-align: center;
    font-size: 1em;   
    color: var(--font-color);
    background-color: var(--admin-bg-color);
    border-color: var(--admin-border-color);
}

.course-id {
    width: 5ch;
}
.course-title {
    flex: 1 1 20ch;
    min-width: 20ch;
}
.course-description {
    flex: 10 1 50ch;
    height: 100%;
    min-width: 60ch;
}
.course-hours {
    width: 10ch;
}
.course-button {
    width: 8ch;
    color: var(--admin-confirm-color);
}
.course-button:hover {
    color: var(--admin-confirm-color-hover);
}
.course-delete {
    width: 8ch;
    color: var(--admin-delete-color);
}
.course-delete:hover {
    color: var(--admin-delete-color-hover);
}

hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

p {
    width: 100%;
}