.couse-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4px;
}

.course {
    height: 2em;
    margin: 10px;
    text-align: center;
    font-size: 1em;   
}

.course-id {
    width: 5ch;
}
.course-title {
    flex: 1 1 20ch;
}
.course-description {
    flex: 5 1 50ch;
}
.course-hours {
    width: 10ch;
}
.course-button {
    width: 8ch;
    color: #77ff77;
}
.course-delete {
    width: 8ch;
    color: #ff7777;
}

hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

p {
    width: 100%;
}