* {box-sizing: border-box;}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 40%;
  margin: auto auto;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background-color: #555;
  color: #f0f0f0;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  background-color: #555;
}

.btn {
  background-color: #555;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
