@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    color: #f0f0f0;
    padding: 1rem;
    text-align: center;
}

.modal.fade-out {
    animation: fade-out 0.5s forwards;
}

.container-main ul li {
    /* other styles */
    animation: scale-up 0.3s ease-in-out;
}

.modal.show {
    /* other styles */
    animation: fade-in 0.5s ease-in-out;
}

.container-main ul li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    background-color: #555;
    border-radius: 0.5rem;
    width: 20rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 1rem;
}

.container-main ul li:hover {
    background-color: #777;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.modal {
    color: #29485e;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transform: scale(0.7);
    transition: transform 0.3s ease;
}

.modal.show .modal-content {
    transform: scale(1);
}

.close-button {
    color: crimson;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.subscribe-button {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #ddd;
}

.subscribed-checkmark {
    cursor: pointer;
    color: #29485e;
    font-size: 2rem;
    display: block;
    margin-top: 1rem;
}

#searchInput {
    width: 90%;
    padding: 0.5rem;
    margin: 0 auto 1rem auto;
    border: 1px solid #f0f0f0;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #555;
    color: #f0f0f0;
}
