@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
 
:root { 
 
    /* fonts type */ 
    --gill_sans-font: 'Gill Sans MT', sans-serif; 
    --poppins-font: 'Poppins', sans-serif; 
 
    /* fonts size */ 
    --header-font-size: 10.0rem; 
    --small-font-size: 4.0rem; 
 
    /* colors */ 
    --bg-color: #000000; 
    --course-bg-color: #555555; 
    --font-color: #F0F0F0;
    --hover-color: #777777;
    --modal-color: #29485e;
    --modal-bg-color: #fefefe;

    --admin-bg-color: #181a1b;
    --admin-border-color: #736b5e;
    --admin-delete-color: #ff7777;
    --admin-delete-color-hover: #ff0000;
    --admin-confirm-color: #00ff99;
    --admin-confirm-color-hover: #00ff33;
}
